body{
    background-color:gainsboro;
}
h1{
    color:blueviolet;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
button:hover{
    color:burlywood;
}
li{
    color:rgb(24, 20, 87);
    font-size: 25px;
}