body{
    background-color:gainsboro;
}
h1{
    color:blueviolet;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
button:hover{
    color:burlywood;
}
li{
    color:rgb(24, 20, 87);
    font-size: 25px;
}
.heart::after { 
    content: "\2665"; /* Unicode value for a heart */
    font-size: 2rem; /* set font size */
    color: red; /* set color */
  }