.App{
  display:grid;
  grid-template-columns:40% 60% ;
  grid-template-areas: "section1 section2";
  overflow:hidden;
}
@media (max-width:550px){
  .App{
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-template-areas: "section1"
    "section2";
  }
  .card{
    width:7rem;
    font-size:14px;
  }
}
h1{
  color:#283C6F;
  font-size:45px;
}
h4{
  font-size:14px;
  text-align:center;
  padding: 10px;
}
.task{
  color:#3f2f16;
  font-size:27px;
  font-family: 'Times New Roman', Times, serif;
}
img{
  margin-top:1rem;
  border-radius:50%;
}
.section1{
  grid-area: section1;
  margin-top:15%;
text-align:center;
justify-content: center;
}
label,button{
  display:block;
}
.section2{
  grid-area: section2;
  background-image:url('https://i.pinimg.com/736x/84/43/9c/84439cae4d3d31b073ead1563e6e6694.jpg');
  background-size: contain;
  height:100%;
}
#inputId{
  width:15rem;
  height:1.5rem;
  border-radius:40px;
  margin-right: auto;
  margin-left:auto;
  border:solid #E2D4BD 1px;
  background-color: #fcebcf;
  margin-top:0.5rem;
  margin-bottom:0.5rem;
  text-align:center;
  font-size:17px;
}
label{
  color:#283C6F;
  font-weight:bold;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom:0.5rem;
  margin-top:0.5rem;
}
input, select{
  background-color: #e9d7b0;
  border:solid #3f2f16 1px;
  width:10rem;
  height:1.5rem;
  border-radius:30px;
  font-size:15px;
  text-align: center;
}
select{
  width:12rem;
}
option{
  background-color: #eddec5;
}
button{
  width:6rem;
  height:1.7rem;
  border-radius:20px;
  border:solid #FDE0B0 1px;
  background-color: #FDE0B0;
  margin-right: auto;
  margin-left:auto;
  margin-top:1rem;
}
button:hover{
  color:#ffffff;
  background-color: #e8a8d3;
}
.header{
  text-align:center;
  color:#ffffff;
}
.card{
  width:14rem;
  margin-left:2rem;
  margin-bottom:1rem;
}
.option1{
  background-color:#cd5e6d;
}
.option2{
  background-color:#edd386;
}
.option3{
  background-color:#ffffff;
}
.btn{
 background-color:#FDE0B0;
 color:black;
 border-radius:20px;
}
.btn:hover{
  background-color:#c58c30;
}
